.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.img {
  border-radius: 20px;
  height: 40px;
}
.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.detail {
  margin-left: 175px;
}
.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home {
  margin-left: 300px;
}
/* media query */

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .service {
    grid-template-columns: repeat(1, 1fr);
  }
  .home {
    margin-left: 0;
  }
}
